.shop-menu {
    position: relative;
    padding-bottom: 3px; 
}

.shop-menu::before {
    content: ""; 
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: brown;
    transition: width .3s ease-out;
}


.shop-menu:hover::before {
    width: 100%;
}
.shop-menu.active::before {
    width: 100%;
}

.cart-count{
    position: absolute;
    top: -2px;
    right: -7px;
    height: 15px;
    width: 15px;
    background-color: red;
    font-size: 9px;
}